
#workspace {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

#CodeEditor {
  flex: 1;
  padding: 0;
  border: solid;

  font-size: 18px;
}

#SketchDisplay {
  flex: 1;
  padding: 0;
  border: solid;
}
